/* GENERAL ELEMENTS */

/* Headline Line */
h2 {
    position: relative;
    padding-bottom: 1em;
}

/* Blog overview headelines */
.blog-basic-grid .blog-title {
    font-size: clamp(18px, calc(1.125rem + ((1vw - 3.75px) * 0.7512)), 26px);
}

.blog-basic-grid .blog-article-spacer {
    height: 0px;
}

/* 2 columns on ipad */
/* @media screen and (max-width: 950px) {
    .blog-basic-grid {
        grid-template-columns: 50% 50%;
    }
} */

/* Underline h2 */
h2:after {
    content: "";
    height: 1px;
    width: 1.3em;
    background-color: #242831;
    position: absolute;
    bottom: -.5em;
    left: 50%;
    transform: translate(-50%);
}

.dark.page-section h2:after {
    background-color: rgba(255, 255, 255, .75);
}

/* Prevent on big intro quote */
#block-7e2130809f23eafc875f h2:after {
    display: none;
}

/* prevent this in blog navi */
.pagination-title-wrapper h2:after {
    background-color: #FFFFFF;
}

/* Text Links */
a {
    text-decoration: none !important;
}

/* Button */
.sqs-block-button-element--large:hover, .sqs-system-button:hover {
    background-color: black !important;
    opacity: 1 !important;
}

/* custom bullets */
ul[data-rte-list] li>*:first-child::before {
    content: "\2192";
    color: #000000;
}

/* orange bullets */
.fe-block-63135808e48c4e7763f929f7 ul[data-rte-list] li>*:first-child::before,
.fe-block-631358084351918cc41f8cfe ul[data-rte-list] li>*:first-child::before {
    color: #FA481D;
    content: "\2022";
    font-weight: 800;
}

/* form labels */
.sqs-block-form .field-list .title {
    font-size: 1rem !important;
    font-weight: 700;
}

/* HEADER NAVI */

/* Announcement bar */
.sqs-announcement-bar {
    background-color: #DEDDDD;
}

.sqs-announcement-bar p {
    color: black;
}

/* SVG Logo */
.header-title-logo a {
    width: 127px;
    filter: invert(100%);
}

.header.shrink .header-title-logo a {
    filter: invert(0%);
}

@media screen and (max-width: 767px) {
    .header-title-logo a img {
        max-height: 40px;
    }
}

/* Header Navi */
.header a {
    font-size: 1rem;
    font-weight: 900;
}

.header .header-nav-wrapper a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1rem;
    margin-left: 1em;
}

.header .header-nav-item a:hover {
    color: #fb481d !important;
}

.header .header-nav-item--active a {
    border-bottom: 2px solid #fb481d !important;
    background-image: none !important;
}


/* Header Navi Scroll */
.header .header-background-solid, .header .header-nav-wrapper a, body:not(.header--menu-open) .header .burger-inner .top-bun, body:not(.header--menu-open) .header .burger-inner .bottom-bun {
    transition: all 500ms ease-in-out;
    color: #FFFFFF !important;
}

.header .header-background-solid {
    background: #19252C !important;
}

.header.shrink .header-background-solid {
    background: #FFFFFF !important;
}

.header.shrink .header-nav-wrapper a {
    color: rgba(25, 37, 44, 1) !important;
}

/* Burger Menu */
body:not(.header--menu-open) .header.shrink .burger-inner .top-bun, body:not(.header--menu-open) .header.shrink .burger-inner .bottom-bun {
    background-color: #19252c !important;
}

.top-bun, .patty, .bottom-bun {
    background-color: #FFFFFF !important;
}

/* Black Stage Area */
.page-section.dark:first-child .section-background {
    background: linear-gradient(to bottom, #19252c 75%, white 0%);
}

/* Hide the effect on iPad */
@media only screen and (max-width: 960px) {
    .page-section.dark:first-child .section-background {
        background: linear-gradient(to bottom, #19252c 100%, white 0%);
    }
}

/* SECTIONS */
/* image card teaser */
.sqs-block-image .design-layout-card .image-subtitle a *, .sqs-block-image .design-layout-card .image-subtitle a {
    color: #FA481D !important;
    font-weight: 700;
}

.sqs-block-image .design-layout-card .image-title p:first-child {
    color: #A7ABC5;
}

/* Page Section Text Background */
#block-61ae3e6744a84b3479f4aca3,
#block-61ae3ec4554a7221c8a8130c,
#block-85f05db57d57001f69ee,
#block-94b3777227266a08e1a7,
#block-11a8f63cfd1a929c8e0b,
#block-8aa2568e2506fabcf2a4,
#block-d94abfcef382e1b356c8,
#block-b142e8205f01b538fe85,
#block-cb81777d06a6c58a2479,
#block-61a24daf67fe9d3dfdd31226,
#block-6313428abd110ec1795304b4,
#block-631356e8e986304147f9f7ff,
#block-631356fb13c409dac22024d6,
#block-63135c2a2a04d0e60a0df2f1,
#block-63135c3a36c665b182fa0099,
#block-63135c475c19ad3fb19c387b {
    background: white;
    padding: 3vw;
    transition: all 500ms ease-in-out;
}

/*make first paragraph white*/
.has-background .sqs-block-content p:first-child, #page-section-61a24daf0650825440ffa506 .sqs-block-content p:first-child {
    color: #A7ABC5;
}

/* Testimonials */
.summary-block-setting-design-carousel .sqs-gallery .summary-content {
    background-image: url("https://static1.squarespace.com/static/619fde6e2d1d766cc66e0b07/t/61b608ec7619bc24842fea6d/1639319788629/quotes-grey.png");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: 10px 10px;
    min-height: 332px;
    padding: 2vw;
}


.summary-block-setting-design-carousel .sqs-gallery .summary-metadata-item a, .sqs-gallery .summary-content p {
    color: #000;
    padding-bottom: 2vw;
    font-size: 1rem;
}

.summary-block-setting-design-carousel .summary-carousel-pager {
    color: #fb481d;
}

/* grey line at end of section */
[data-section-id="61d19e799317050aece128a7"], [data-section-id="61d1a82c025ee847d43f96ca"], [data-section-id="61d19f227d46584355cadf18"] {
    border-bottom: 1px solid #3E404C;
}

/* Fix width issue */
.page-section:not(.full-bleed-section)>.content-wrapper {
    box-sizing: border-box;
}

/* SHOWCASE CARDS */

/* adapt card paragraph */
.sqs-gallery .summary-content p {
    font-size: 1rem;
    padding-bottom: 1vw;
}

/* read more link */
.sqs-gallery .summary-content a.summary-read-more-link {
    color: #FA481D;
    font-weight: 700;
    visibility: hidden;
}

.sqs-gallery .summary-content a.summary-read-more-link:before {
    content: "Fallstudie lesen →";
    visibility: visible;
}

/* ABOUT US */
/* white lines between grey blocks */
[data-page-sections="61a8774e64b6ee30ad171c03"] .light:not(.has-background) .section-background {
    border-bottom: 1px solid #FFFFFF;
}

/* EVENT PAGE */

/* Event Apply White box */
#page-section-61c87382976edf63d280799a .sqs-col-5:first-child {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* make spacers smaller */
#page-section-61c87382976edf63d280799a .sqs-col-5 .spacer-block {
    height: 7px;
    padding: 0;
}

/* lots of padding to make like figma */
#page-section-61c87382976edf63d280799a .sqs-col-5 .html-block {
    padding-top: 10px;
}

#page-section-61c87382976edf63d280799a h4:first-child {
    margin-top: 48px;
}

#page-section-61c87382976edf63d280799a h4 {
    margin-top: 0;
}

#page-section-61c87382976edf63d280799a .image-block {
    padding-top: 7px;
    padding-bottom: 14px;
}

#page-section-61c87382976edf63d280799a .form-block {
    padding-bottom: 40px;
}

/* grey headline */
#page-section-61c87382976edf63d280799a .sqs-block-html p:first-child {
    color: #A7ABC5;
    margin: 0px 0px 24px 0px;
}

/* keep the other paragraphs black */
#page-section-61c87382976edf63d280799a .sqs-block-html p.sqsrte-large {
    color: black;
    margin: 0px;
}

/*button styling*/
#page-section-61c87382976edf63d280799a button, #page-section-61c87382976edf63d280799a .button {
    padding: 12px 16px;
    font-size: 1rem;
}

#page-section-61c87382976edf63d280799a .button {
    background-color: white;
    border: 1px solid #FA481D;
    color: #fa481d;
}

/* custom logo wall */
.logowall {
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #19252c;
}

.logo-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 15%;
    margin: 2vw 2.5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cornelsen-img {
    width: 75%;
}

.db-img {
    width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
}

.here-img {
    width: 40%;
}

.dawanda-img {
    width: 80%;
}

.tui-img {
    width: 50%;
}

.zalando-img {
    width: 80%;
}

.aspringer-img {
    width: 100%;
}

.springer-img {
    width: 100%;
}

.orderbird-img {
    width: 90%;
}

.daimler-img {
    width: 100%;
}

.simpgate-img {
    width: 85%;
}

.swisscom-img {
    width: 90%;
}

.mysugr-img {
    width: 90%;
}

.wooga-image {
    width: 70%;
}

.optima-img {
    width: 90%;
}

.db-img {
    width: 40%;
    -o-object-fit: cover;
    object-fit: cover;
}

.here-img {
    width: 40%;
}

.basf-img {
    width: 80%;
}

.wwf-img {
    width: 30%;
}

.zalando-img {
    width: 80%;
}

.aspringer-img {
    width: 100%;
}

.forto-img {
    width: 80%;
}

.mann-img {
    width: 70%;
}

.urban-sports {
    width: 100%;
}

.ecosia-img {
    width: 80%;
}

.idealo-img {
    width: 80%;
}

.mysugr-img {
    width: 90%;
}

.sn-img {
    width: 90%;
}


@media screen and (max-width: 479px) {
    .logowall {
        border: 2px solid red;
    }

    .image-container {
        width: 30%;
        margin: 3vw 2%;
    }
}

/* All Fade in Animations */
.appear {
    opacity: 0;
    transition-delay: 1s;
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-duration: 0.4s;
}

/* Logowall */
.logowall .appear.inview:nth-child(1) {
    transition-delay: 0.2s;
}

.logowall .appear.inview:nth-child(2) {
    transition-delay: 0.4s;
}

.logowall .appear.inview:nth-child(3) {
    transition-delay: 0.6s;
}

.logowall .appear.inview:nth-child(4) {
    transition-delay: 0.8s;
}

.logowall .appear.inview:nth-child(5) {
    transition-delay: 1s;
}

.logowall .appear.inview:nth-child(6) {
    transition-delay: 1.2s;
}

.logowall .appear.inview:nth-child(7) {
    transition-delay: 1.4s;
}

.logowall .appear.inview:nth-child(8) {
    transition-delay: 1.6s;
}

.logowall .appear.inview:nth-child(9) {
    transition-delay: 1.8s;
}

.logowall .appear.inview:nth-child(10) {
    transition-delay: 2s;
}

.logowall .appear.inview:nth-child(11) {
    transition-delay: 2.2s;
}

.logowall .appear.inview:nth-child(12) {
    transition-delay: 2.4s;
}

.logowall .appear.inview:nth-child(13) {
    transition-delay: 2.6s;
}

.logowall .appear.inview:nth-child(14) {
    transition-delay: 2.8s;
}